<h1>Salut! Veuillez confirmer l'email de validation de compte!</h1>

<p>
    S'il vous plait veuillez confirmer votre adresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">confirmer mon adresse email.</a>.
    <hr>
    Ce lien va expiré dans:{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de votre confiance et à bientôt sur notre plateforme de jeux.

    Cordialement,
    Agora Team!
</p>
