@font-face {
	font-family: LucidaGrande;
	src: url("../font/Lucida Grande.ttf");
}

html {
    background-color : #ecf0f1;
}

table {
    margin : auto;
    border-collapse : collapse;
}

table * {
    border-style : solid;
    width : 125px;
    height : 125px;
}

td:hover{
    background-color :silver;
}

h1{
    text-align : center;
    font-size: 3em;
    color : white;
    background-color : #333;
    margin-top : 0;
    padding : 1%;
    font-family: LucidaGrande;
}

#myInfo{
    text-align : center;
}

#vs {
    font-size : 3em;
    font-style : bold;
}

#grille{
    font-size : 4em;
    font-style : bold;    
    text-align : center;
}

#refresh {
    display : block;
    margin:auto;
}

body {
    margin : 0;
    margin-top : 0;
}


