<nav class="flex items-center p-6 justify-between lg:px-8 relative z-50" aria-label="Global">
	<a href="/" class="-m-1.5 p-1.5 text-xl font-bold">
		AGORA
	</a>
	<div class="justify-between space-x-4">
		<a href="/games" class="text-sm font-semibold leading-6 text-gray-900">
			Jeux
		</a>
		<a href="#" class="text-sm font-semibold leading-6 text-gray-900">
			Contact
		</a>
	</div>
	{% if app.user %}
		<a href="/logout" class="text-sm font-semibold leading-6 text-gray-900">Déconnexion
		</a>
	{% else %}
		<a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Connexion
			<span aria-hidden="true">&rarr;</span>
		</a>
	{% endif %}

</nav>
