{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
Liste de contacts
{% endblock %}

{% block content %}
    <h1>Liste de contacts</h1>
    <ul>
        {% for contact in contacts %}
            <li>
                {{ contact.getUsername() }}
                    <a href="{{ path('app_user_remove_contact', {'contact_id': contact.getId()}) }}">Retirer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}