{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
	Hello Index dashboard
{% endblock %}

{% block content %}
	<div class="example-wrapper">
		<h1>Accueil</h1>
	</div>
{% endblock %}
