{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
	Hello DashboardController!
{% endblock %}


{% block content %}
	<div class="example-wrapper">
		<h1>Settings page</h1>
	</div>
{% endblock %}
