._*
.DS_Store
.vscode
.idea
.git
.env.local
var
vendor
package-lock.json
composer.lock
.phpunit.result.cache
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor
###< symfony/asset-mapper ###
