{% extends 'platform/base.html.twig' %} 

{% block title %} 
   Paramètres 
{% endblock %} 

{% block body %}
<header class="relative isolate px-6 pt-14 lg:px-8 flex justify-center items-center h-screen">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
   </div>
   <div>
   <div class="relative z-50 xl:hidden" role="dialog" aria-modal="true">
   <div class="fixed inset-0 bg-gray-900/80"></div>
   <div class="fixed inset-0 flex">
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
         <main>
            <div class="divide-y divide-black/5">
               <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
                  <div class="flex justify-center items-center flex-col">
                     <h2 class="text-base font-semibold leading-7">Informations personnelles</h2>
                  </div>
                  <form class="mt-6 md:col-span-2" id="settings-form" action="/" method="POST">
                     <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
                        <div class="col-span-full sm:col-span-6">
                           <label for="username" class="block text-sm font-medium leading-6">Identifiant</label>
                           <div class="mt-2">
                              <input type="text" name="username" id="username" autocomplete="username" maxlength="16" pattern="[A-Za-z0-9]+" class="block w-full md:w-96 rounded-md border-0 bg-white/5 py-2 text-black font-bold shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Entrer un identifiant" value="{{ username }}">
                           </div>
                        </div>
                        <div class="col-span-full sm:col-span-6">
                           <label for="email" class="block text-sm font-medium leading-6">Email</label>
                           <div class="mt-2">
                              <input id="email" name="email" type="email" autocomplete="email" class="block w-full md:w-96 rounded-md border-0 bg-white/5 py-2 text-black font-bold shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="exemple@exemple.fr" value="{{ email }}">
                           </div>
                        </div>
                        <div class="sm:col-span-3">
                           <label for="current-password" class="block text-sm font-medium leading-6">Mot de passe actuel</label>
                           <div class="mt-2">
                              <input type="password" name="current-password" id="current-password" minlength="8" class="block w-full md:w-96 rounded-md border-0 bg-white/5 py-2 text-black font-bold shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Mot de passe actuel">
                           </div>
                        </div>
                        <div class="sm:col-span-3">
                           <label for="new-password" class="block text-sm font-medium leading-6">Nouveau mot de passe</label>
                           <div class="mt-2">
                              <input type="password" name="new-password" id="new-password" minlength="8" class="block w-full md:w-96 rounded-md border-0 bg-white/5 py-2 text-black font-bold shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Nouveau mot de passe">
                           </div>
                        </div>
                        <div class="sm:col-span-3">
                           <label for="confirm-new-password" class="block text-sm font-medium leading-6">Confirmer le nouveau mot de passe</label>
                           <div class="mt-2">
                              <input type="password" name="confirm-new-password" id="confirm-new-password" minlength="8" class="block w-full md:w-96 rounded-md border-0 bg-white/5 py-2 text-black font-bold shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Confirmer le mot de passe">
                           </div>
                        </div>
                     </div>
                     <div class="mt-6 flex justify-center">
                        <button type="button" onclick="saveSettings()" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Sauvegarder</button>
                     </div>
                  </form>
               </div>
            </div>
         </main>
      </div>
   </div>
   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
   </div>
</header>
<script>
   var currentUsername = "{{ username }}";
   var currentEmail = "{{ email }}";
   function saveSettings() {
       var username = document.getElementById('username').value;
       var email = document.getElementById('email').value;
       var currentPassword = document.getElementById('current-password').value;
       var newPassword = document.getElementById('new-password').value;
       var confirmNewPassword = document.getElementById('confirm-new-password').value;
   
       // Vérifier si les champs sont vides
       if (username === "" && email === "" && currentPassword === "" && newPassword === "" && confirmNewPassword === "") {
           alert("Aucune modification détectée.");
           return;
       }
   
       if (username === currentUsername) {
           alert("Le nouvel identifiant ne doit pas être identique à l'ancien identifiant.");
           return;
       }
   
       if (email === currentEmail) {
           alert("Le nouvel email ne doit pas être identique à l'ancien email.");
           return;
       }
   
       if (username !== "" && (username.length < 6 || username.length > 16)) {
           alert("L'identifiant doit avoir entre 6 et 16 caractères.");
           return;
       }
   
       var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
       if (email !== "" && !emailRegex.test(email)) {
           alert("Veuillez entrer une adresse e-mail valide.");
           return;
       }
   
       // Vérifier si le champ du mot de passe actuel est vide
       if (currentPassword === "") {
           alert("Pour modifier le mot de passe, veuillez remplir le champ 'Mot de passe actuel'.");
           return;
       }
   
       // Vérifier si la longueur du mot de passe actuel est suffisante
       if (currentPassword.length < 8) {
           alert("Le mot de passe actuel doit avoir au moins 8 caractères.");
           return;
       }
   
       if ((currentPassword === "" && newPassword !== "" && confirmNewPassword !== "") || // Cas où le champ mot de passe actuel est vide et les deux champs de nouveau mot de passe sont remplis
       (currentPassword !== "" && newPassword === "" && confirmNewPassword === "") || // Cas où le champ mot de passe actuel est rempli et les deux champs de nouveau mot de passe sont vides
       (currentPassword !== "" && newPassword !== "" && confirmNewPassword === "") || // Cas où le champ mot de passe actuel et le champ de nouveau mot de passe sont remplis, mais le champ de confirmation est vide
       (currentPassword !== "" && newPassword === "" && confirmNewPassword !== "") || // Cas où le champ mot de passe actuel est rempli, le champ de nouveau mot de passe est vide, mais le champ de confirmation est rempli
       (currentPassword === "" && newPassword === "" && confirmNewPassword !== "") || // Cas où le champ mot de passe actuel est vide et les deux champs de nouveau mot de passe sont vides, mais le champ de confirmation est rempli
       (currentPassword === "" && newPassword !== "" && confirmNewPassword === "")) {  // Cas où le champ mot de passe actuel est vide, le champ de nouveau mot de passe est rempli, mais le champ de confirmation est vide 
       alert("Veuillez remplir tous les champs qui concernent le mot de passe.");
       return;
   }
       // Vérifier si les champs du nouveau mot de passe ont été remplis
       if (currentPassword !== "" && newPassword !== "" && confirmNewPassword !== "") {
         
           // Vérifier si le nouveau mot de passe et sa confirmation sont valides
           if (currentPassword.length < 8 || newPassword.length < 8 || confirmNewPassword.length < 8 || newPassword !== confirmNewPassword) {
               alert("Le nouveau mot de passe et sa confirmation doivent correspondre et avoir au moins 8 caractères.");
               return;
           }
   
           if (currentPassword === newPassword) {
       alert("Le nouveau mot de passe ne doit pas être identique à l'ancien mot de passe.");
       return;
   }
       }
   
       // Vérification du mot de passe dans le back
       var xhr = new XMLHttpRequest();
       xhr.open('POST', '/check-password', true);
       xhr.setRequestHeader('Content-Type', 'application/json');
       xhr.onreadystatechange = function() {
           if (xhr.readyState === XMLHttpRequest.DONE) {
               if (xhr.status === 200) {
                   // Si le mot de passe actuel est correct, soumettre le formulaire methode POST
                   document.getElementById('settings-form').submit();
               } else {
                   alert("Le mot de passe actuel est incorrect.");
               }
           }
       };
       xhr.send(JSON.stringify({ password: currentPassword }));
   }
</script>
{% endblock %}