{#
This section displays the main board that every player and spectator can see
@param :
@return :
#}
<div class="bg-yellow-600 h-full w-full">
    {{ include('/Game/Glenmore/MainBoard/displayTiles.html.twig') }}
</div>