    <div class="panel-group">
        <div id="add-user" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#addUserContent">Ajouter des utilisateurs</a>
                </h4>
            </div>
            <div id="addUserContent" class="panel-collapse collapse">
                <div class="panel-body">
                    <form id="addUserForm">
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur :</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mot de passe :</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="qty">Quantité :</label>
                            <input type="text" class="form-control" value="1" id="qty" onkeypress="return isNumber(event)" />
                            <span class="help-block">Si 4 -> agora0, agora1 ... agora3</span>
                        </div>
                        <button type="submit" class="btn btn-default">Créer !</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
