{% block chosenCards %}
        <div class="bg-gray-500 rounded flow float-left w-1/4 h-full">
            <h1 class="text-4xl font-bold text-blue-700 mb-4">Chosen Cards</h1>
        </div>
{% endblock %}