{% extends 'base.html.twig' %}

{% block title %}Agora - 6 qui prend{% endblock %}

{% block body %}
    <div class="h-screen w-screen">
        <div class="h-full w-full">
            {% block chosenCards %}
                {{ include('/Six_qp/chosenCards.html.twig') }}
            {% endblock %}
            {% block ranking %}
                {{ include('/Six_qp/ranking.html.twig') }}
            {% endblock %}
            {% block mainBoard %}
                {{ include('/Six_qp/mainBoard.html.twig') }}
            {% endblock %}
            {% block personalBoard %}
                {{ include('/Six_qp/personalBoard.html.twig') }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
