{#
    This section displays the navigation options players and viewers can use
    @param : none
    @return : display exit button to homepage
#}

<nav class="absolute p-2 z-100 rounded-r-lg" style="background: #030500" {{ stimulus_controller('gameNavigationMenu') }}>
    <div class="container mx-auto rem-0.375 py-2 px-2 flex justify-between items-center">
        <div class="block">
            <button class="flex items-center rem-0.125 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800
                            hover:border-teal-500 appearance-none focus:outline-none"
                    data-dropdown-toggle="dropdown"
                    onclick="function showHiddenMenu() {
                        let menu = document.getElementById('hidden_menu');
                        menu.style.visibility = (menu.style.visibility  === 'hidden' || menu.style.visibility === '' ? 'visible' : 'hidden');
                    }
                    showHiddenMenu()">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
            <div id='hidden_menu' class="invisible block absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md
                    bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                 role="menu"
                 aria-orientation="vertical"
                 aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="{{ path('app_home') }}" class="text-gray-700 block px-4 py-2 text-sm"
                       role="menuitem" tabindex="-1" id="menu-item-0">
                        Page d'accueil
                    </a>
                    <button
                            {{ stimulus_action('gameNavigationMenu', 'excludePlayer', 'click',
                                {url: path('app_game_exclude_player',
                                    {playerId: player.id, gameId: game.id}
                                )}
                            )}}
                       class="bg-red-600 text-white z-10 text-gray-700 block px-4 py-2 text-sm"
                       role="menuitem" tabindex="-1" id="menu-item-1">
                        Exclure un joueur
                    </button>
                </div>
            </div>
        </div>

    </div>
</nav>