* {
    margin: 0;
}
:root {
    --azul-color: #46ABDC;
    --font-color: #FFFFFF;

    --plateau-scale: 1.8;
    --factory-scale: 1.4;
}

@font-face {
    font-family: "Algerian Regular";
    src: url("../font/Algerian\ Regular.ttf");
}

body {
    font-family: "Algerian Regular";

    background-image: url("../image/background.png");
    background-repeat: repeat;

    /* overflow: hidden; */
}

/* #centre table, #centre th, #centre td {
    border: 1px solid #000000;
    border-collapse: collapse;
} */

table, th, td {
    border: 1px solid transparent;
}

/* #centre table, #centre th, #centre td {
    border: 1px solid #000000;
} */

th, td {
    /* padding: 15px; */
}


#header {
    background-color: var(--azul-color);
    margin: 0;
    padding: 10px;
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header #logoAndScore {
    text-align: center;
}

#header #score_title, #header #score {
    margin: 0;
}


#header h2 {
    width : 20%;
}

#header * {
    color: var(--font-color);
    margin: 0 50px;
    flex-grow: 1;
}

#tour {
    text-align: right;
}

#motif_mur div {
    display: inline-block;
}

.case_motif {
    background-color: none;
}

#centre td {
    width: calc(32px * var(--factory-scale));
    height: calc(32px * var(--factory-scale));
}

#centre .none {
    display: none;
}

.none {
    background-color: none;
}

.blue {
    background-image: url("../image/tuile_bleue.png");
    background-size: cover;
    cursor: pointer;
}

.cyan {
    background-image: url("../image/tuile_cyan.png");
    background-size: cover;
    cursor: pointer;
}

.red {
    background-image: url("../image/tuile_rouge.png");
    background-size: cover;
    cursor: pointer;
}

.orange {
    background-image: url("../image/tuile_jaune.png");
    background-size: cover;
    cursor: pointer;
}

.black {
    background-image: url("../image/tuile_noire.png");
    background-size: cover;
    cursor: pointer;
}

.first {
    background-image: url("../image/tuile_premier_joueur.png");
    background-size: cover;
    cursor: pointer;
}

.indications p {
    display: inline-block;
    margin: auto;
}

#fabriques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fabriques div {
    margin: 5px;
}

#factory {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/factory.png");
    background-size: cover;

    width: calc(112px*var(--factory-scale));
    height: calc(112px*var(--factory-scale));
}

#factory table {
    margin:auto;
}

#cases_pioches {
    width: 45%;
    font-size: calc(25px * var(--factory-scale));
    display: flex;
    justify-content: center;
}

#color_pioche {
    width:calc(30px*var(--factory-scale));
    height:calc(30px*var(--factory-scale));
}

#color_pioche, p {
    margin: auto 2px !important;
}

#premier_joueur {
    display: none;
    margin: auto;
    width:50px;
    height:50px;
    border:1px solid #000;
}



.plateau {
    background-image: url("../image/plateau_entier.png");
    background-size: cover;
    --plateau-ratio: calc(269/403);
    --plateau-width: calc(403px*var(--plateau-scale));
    width:var(--plateau-width);
    height:calc(var(--plateau-width) * var(--plateau-ratio));
    display: inline-block;
}

.plateau td, #plancher td {
    width: calc(32px * var(--plateau-scale));
}

#factory td {
    width: calc(32px * var(--factory-scale));
    height: calc(32px * var(--factory-scale));
}

#pisteScore {
    margin-left:17px;
    margin-top:-10px;
    border-spacing: 0.8px 5.8px;
}

#pisteScore td, th {
    padding:10px;
}

#motif_mur div{
    margin:0px;
}

#tableMotif {
    margin-top: calc(7px*var(--plateau-scale));
    width: calc(179px*var(--plateau-scale));
    height: calc(179px*var(--plateau-scale));
    border-spacing: calc(3px*var(--plateau-scale));
}


#tableMur {
    width:calc(180px*var(--plateau-scale));
    height:calc(180px*var(--plateau-scale));
    margin-left: calc(8px*var(--plateau-scale));
    margin-top: calc(1px*var(--plateau-scale));
    border-spacing: 1.5px 2.5px;
    background-color: #E9D8CB;
    opacity: 1;
}

#tableMur td {
    opacity: .25;
}

#plancher {
    width: calc(275px*var(--plateau-scale));
    height: calc(45px*var(--plateau-scale));
    margin-top:calc(16px*var(--plateau-scale));
    margin-left:calc(9px*var(--plateau-scale));
    border-spacing: calc(6.5px*var(--plateau-scale));
}

#zone_pioche > *{
    margin: 10px auto;
}

.hidden {
    display: none;
}

#plateauxAndTabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#plateaux {
    text-align: center;
}

#tabsDiv {
    position: relative;
    left: 0;
} 

#tabs {
    padding: 0;
    list-style: none;
}

.tab {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    color:var(--font-color);
    border: solid 2px var(--font-color);
    border-left: none;
    background-color: var(--azul-color);
}

.selected_tab {
    color: var(--azul-color);
    border: solid 2px var(--azul-color);
    border-left: none;
    background-color:var(--font-color);
}