{# Loading of the degrees that Tailwind must display, necessary because Tailwind doesn't interprete directly
Twig variables
#}
<div class="lg:rotate-[0deg] lg:rotate-[3deg] lg:rotate-[6deg] lg:rotate-[9deg] lg:rotate-[12deg] lg:rotate-[15deg]
        lg:rotate-[18deg] lg:rotate-[21deg] lg:rotate-[24deg] lg:rotate-[27deg]"></div>
<div class="lg:-rotate-[3deg] lg:-rotate-[6deg] lg:-rotate-[9deg] lg:-rotate-[12deg] lg:-rotate-[15deg]
        lg:-rotate-[18deg] lg:-rotate-[21deg] lg:-rotate-[24deg] lg:-rotate-[27deg]"></div>

{#
Loading of the translation sizes that Tailwind must display
#}
<div class="lg:translate-x-[6px] lg:translate-x-[18px] lg:translate-x-[42px] lg:translate-x-[84px] lg:translate-x-[126px]
        lg:translate-x-[168px] lg:translate-x-[21px] lg:translate-x-[63px] lg:translate-x-[105px] lg:translate-x-[147px]
        lg:translate-x-[189px]"></div>
<div class="lg:-translate-x-[6px] lg:-translate-x-[18px] lg:-translate-x-[42px] lg:-translate-x-[84px] lg:-translate-x-[126px]
        lg:-translate-x-[168px] lg:-translate-x-[21px] lg:-translate-x-[63px] lg:-translate-x-[105px] lg:-translate-x-[147px]
        lg:-translate-x-[189px]"></div>
<div class="lg:translate-y-[7px] lg:translate-y-[24px] lg:translate-y-[22.5px] lg:translate-y-[52px] lg:translate-y-[92px]
        lg:translate-y-[12px] lg:translate-y-[35px] lg:translate-y-[70px] lg:translate-y-[117px]"></div>
<div class="hover:rotate-[0deg]"></div>

