.spl-card-container {
    perspective: 1000px;
}

.spl-card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    @apply size-full;
}

.spl-front,
.spl-back {
    backface-visibility: hidden;
    @apply absolute size-full;
}

.spl-front {
    transform: rotateY(0deg);
}

.spl-back {
    transform: rotateY(180deg);
}