{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="w-full max-w-xs mx-auto">
		<form method="post" class="space-y-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-16">
			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
					Nom de l'utilisateur
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="_username" type="text" placeholder="Nom d'utilisateur">
			</div>

			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="password">
					Mots de passe
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="_password" type="password" placeholder="******************">
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<button class="bg-primary hover:bg-blue-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
				Login
			</button>
		</form>
	</div>
{% endblock %}
