{% extends 'platform/base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<div class="w-full max-w-xs mx-auto">
		<form class="space-y-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-16">
			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
					Nom de l'utilisateur
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Nom d'utilisateur">
			</div>
			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="mail">
					email
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mail" type="email" placeholder="exemple@exemple.com">
			</div>
			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="password">
					Mots de passe
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
			</div>
			<div>
				<label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
					Confirmer Mots de passe
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="confirmPassword" type="password" placeholder="******************">
				<p class="text-sm">Vous avez déjà un compte ?<br/>
					<a class="underline text-primary" href="#">Connectez-vous</a>
				</p>
			</div>
			<button class="bg-primary hover:bg-blue-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
				Inscription
			</button>
		</form>
	</div>
{% endblock %}
