.action {
    width: var(--common-action-width);
    height: var(--common-action-height);
}
#action1 {
    top: var(--left-row1-y);
    left: var(--left-column1-x);
}

#action2 {
    top: var(--left-row1-y);
    left: var(--left-column2-x);
}

#action3 {
    top: var(--left-row2-y);
    left: var(--left-column1-x);
}

#action4 {
    top: var(--left-row2-y);
    left: var(--left-column2-x);
}

#action5 {
    top: var(--left-row3-y);
    left: var(--left-column1-x);
}

#action6 {
    top: var(--left-row3-y);
    left: var(--left-column2-x);
}

#action7 {
    top: var(--left-row4-y);
    left: var(--left-column1-x);
}

#action8 {
    top: var(--left-row4-y);
    left: var(--left-column2-x);
}

#action9 {
    top: var(--left-row5-y);
    left: var(--left-column1-x);
}

#action10 {
    top: var(--left-row5-y);
    left: var(--left-column2-x);
}

#action11 {
    top: var(--left-row6-y);
    left: var(--left-row6-x);
    width: var(--left-row6-width);
    height: var(--left-row6-height);
}

#action12 {
    top: var(--left-row7-y);
    left: var(--left-row7-x);
    width: var(--left-row7-width);
    height: var(--left-row7-height);
}

#action13 {
    top: var(--right-row1-y);
    left: var(--right-col1-x);
    width:var(--right-col1-width);
}

#action14 {
    top: var(--right-row2-y);
    left: var(--right-col1-x);
    width:var(--right-col1-width);
}

#action15 {
    top: var(--right-row3-y);
    left: var(--right-col1-x);
    width:var(--right-col1-width);
}

#action16 {
    top: var(--right-row1-y);
    left: var(--right-col2-x);
}

#action17 {
    top: var(--right-row2-y);
    left: var(--right-col2-x);
}

#action18 {
    top: var(--right-row3-y);
    left: var(--right-col2-x);
}

#action19 {
    top: var(--right-row1-y);
    left: var(--right-col3-x);
}

#action20 {
    top: var(--right-row2-y);
    left: var(--right-col3-x);
}

#action21 {
    top: var(--right-row3-y);
    left: var(--right-col3-x);
}

#order {
    top:11%;
    left:30.5%;
}

.eng {
    top: var(--eng-row-y);
}


.eng_slot6 {
    left: var(--eng-col6-x)
}

.eng_slot5 {
    left: var(--eng-col5-x)
}

.eng_slot4 {
    left: var(--eng-col4-x)
}

.eng_slot3 {
    left: var(--eng-col3-x)
}

.eng_slot2 {
    left: var(--eng-col2-x)
}

.eng_slot1 {
    background-image: url('../images/eng.png');
    transform: none;
    top: var(--eng-row1-y);
    left: var(--eng-col1-x);
}

.eng_slot_buy {
    left: var(--eng-col-buy-x)
}