
.bg {
    /* The image used */
    /* Full height */

    height: 83vh;
    padding-top: 51.1875px;
    padding-right: 0px;

    padding-left: 0px;
    /* Center and scale the image nicely */
    background: url("../image/availableGame/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

#titleHeader {

    position: absolute;
    color: #FFFFFF;
    background-color: #cc0033;
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    text-align: center;
    margin-left: 60px;
}

#titleHeader h1 {

    padding-bottom: 10px;
    line-height: 1em;
    font-size: 48px;
    color: #ffffff!important;
    text-align: left;

}

#titleHeader h3 {
    font-size: 38px;
    font-weight: 700;
}

.contactFrom {
    width: 437px;
    margin: auto;
    right: 0px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 4093;
    margin-left: 50%;
    background-color: white;
}

#messageConf {
    color : black;
    font : bold;
    margin-top : 15px;
    font-size: 17px;
}