@import "//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css";

@font-face {
	font-family: LucidaGrande;
	src: url("../font/Lucida Grande.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: LucidaGrande;
}

#content {
	padding-top: 40px;
}

.imgJeu {
	float: left;
	margin-right: 2em;
	width: 2cm;
	height:3cm;
}

.buttonMore {
	float: right;
	margin-right: 5em;
}

.liste li {
	margin-bottom: 7em;
}

.gameDetails {
	text-align: center;
}

#reglesButt, #playButt {
	margin-top: 1em;
	margin-right: 2em;
}

.descriJeu {
	margin-top: 2em;
}

#leaderboard, #leaderboard td, #leaderboard th {
	border-spacing: 1cm 2em;
	border-style:solid;
	border-width: 1px;
}

#leaderboard {
	position: center;
	text-align: center;
	width: 40%;
}

.dataTables_scrollBody {
	max-height: 20em;
}

/* --- CSS du tchat --------------------------------------------------------- */

.tchat {
	border-radius: 10px;
	opacity: 0.8;
	height: 1.5em;
	width: 7cm;
	background-color: #880921;
	position: fixed;
	right: 3px;
	bottom: 1px;
	animation : none;
}

.tchat:hover {
	opacity: 1;
}

#titleTchat {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.5em;
	color:white;
}

#discussion {
	font-size: 0.8em;
	overflow-y: auto;
	padding-top:0.5cm;
	word-wrap: break-word;
	height: 86%;
/*
	text-align: left;
*/
}

#UserMessage {
	width: 7cm;
	height: 10%;
	resize: none;
	overflow: auto;
	bottom: -6em;
}

.messageMy {
	background-color: silver;
	padding-top : 0.1cm;
	padding-bottom:0.1cm;	
	padding-left:0.1cm;
	border-bottom:1px solid #343a40;
}

.messageOther {
	background-color: #343a40;
	color:white;
	padding-top : 0.1cm;
	padding-bottom:0.1cm;
	padding-left:0.1cm;
	font-weight:bold;
	border-bottom:1px solid silver;
}

.quit, .go{
margin-top : 3px;
margin-bottom : 3px;
}


@keyframes clignotchat {
	0% { }
	50% {background-color : #FF4500; }
}
