/* Style the navbar */
/*
nav {
    overflow: visible;
    background-color: #333;
    height: 48px; !important;
}

/* Navbar links */
/*nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
/*#content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/*.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/*.sticky #content {
    padding-top: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
    height: 48px;
}


nav li {
    float: left;
}

nav li * {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 48px;
}

.span-like {
    font-size: 0.8em;
}

.right {
    float: right;
    margin-right: 0.5em;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-green:hover, .left:hover {
    background-color: #222222;
    text-decoration: none;
}

.left:hover a, .right:hover a {
    text-decoration: none;
}

*/

.nav-item {
    padding-right: 15px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(180, 180, 180);
}

.active a {
	font-weight:bold;
	text-decoration:underline;
}

.btn-success {
	margin-top : 3px;
	margin-bottom : 3px;
}

@media (min-width: 1300px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
