<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Augustus - {{ gameName }}</title>
        <!-- <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragameaugustus/css/style.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="../../css/game.css">
        <link rel="stylesheet" type="text/css" href="../../css/tchat.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script> var playerUsername = "";</script>
    </head>

    <body>
        <div class="overlay" onclick="removeOverlay(this)">
            <div class="overlayContent" onclick="event.stopPropagation()">
                <p>Cette carte revient automatiquement aux joueurs qui contrôlent 3 cartes objectifs de couleurs différentes.</p>
                <p>Elle rapportera  6 poins lors du décompte final.</p>
                <img src="../../img/Cards/1.jpg" alt="Card 3 differents ojectifs" height='300' />
            </div>
        </div>

        <div id="gameContent" class="flexContainer">
            <div id="playersInfo" class="flexContainer flexColumn">
                <div id="allPlayersInfo" class="flexContainer flexColumn">
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 1<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 2<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 3<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 4<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 5<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                    <div class="playerInfo" onclick="selectPlayer(this)">
                        <p class="p">
                            Joueur 6<br>
                            Légions : x/x<br>
                            Objectifs sous contrôle : x
                        </p>
                    </div>
                </div>

                <div class="flex1"></div>

                <div id="myInfo">
                    <p class="p">
                        Moi<br>
                        Légions :<br>
                        x/x<br>
                        Score :<br>
                        x
                        <br>
                        Resssources :<br>
                        Blé : x<br>
                        Or : x<br>
                    </p>
                </div>
            </div>

            <div class="flex1"></div>

            <div id="boardAndHand" class="flexContainer flexColumn">
                <div id="instructions">
                    <p class="p">Ici, nous aurons une phrase permetant de dire au joueur ce qu'il doit faire</p>
                </div>

                <div id="playerBar" class="flexContainer flexRow">
                    <div>
                        <p class="p">
                            Un<br>
                            Légions :<br>
                            x/x
                        </p>
                    </div>

                    <div class="flex1"></div>

                    <div class="card" style="background-image: url('../../img/Cards/3.jpg');">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 0px;">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 31px;">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 62px;">
                    </div>
                    <img src="../../img/Cards/1.jpg" alt="Card1" height="170" ondblclick="getOverlay(this)">
                    <img src="../../img/Cards/1.jpg" alt="Card1" height="170" ondblclick="getOverlay(this)">
                    <img src="../../img/Cards/1.jpg" alt="Card1" height="170" ondblclick="getOverlay(this)">
                    <img src="../../img/Cards/1.jpg" alt="Card1" height="170" ondblclick="getOverlay(this)">

                    <div class="flex1"></div>

                    <div class="flexContainer flexColumn">
                        <button>Captures</button>
                        <button>Récompenses</button>
                    </div>
                </div>

                <div class="flex1"></div>

                <div id="boardBar" class="flexContainer flexRow">
                    <div class="flex1"></div>

                    <div id="lootBars" class="flexContainer flexColumn">
                        <div id="topLoot" class="flexContainer flexRow">
                            <img src="../../img/Loot/Loot2Cards.jpg" alt="Loot2Cards" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/Loot3Cards.jpg" alt="Loot3Cards" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/Loot4Cards.jpg" alt="Loot4Cards" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/Loot5Cards.jpg" alt="Loot5Cards" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/Loot6Cards.jpg" alt="Loot6Cards" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootGold.jpg" alt="LootGold" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                        </div>

                        <div class="flex1"></div>

                        <div id="botLoot" class="flexContainer flexRow">
                            <img src="../../img/Loot/LootSenator.jpg" alt="LootSenator" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootGreen.jpg" alt="LootGreen" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootMulti.jpg" alt="LootMulti" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootRose.jpg" alt="LootRose" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootOrange.jpg" alt="LootOrange" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <img src="../../img/Loot/LootWheat.jpg" alt="LootWheat" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                        </div>
                    </div>

                    <div class="flex1"></div>

                    <div id="objLine" class="flexContainer flexRow">
                        <div class="flexContainer flexColumn">
                            <div>
                                <img src="../../img/Cards/3.jpg" alt="Une carte" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                                <img src="../../img/Cards/3.jpg" alt="Une carte" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            </div>
                            <div>
                                <img src="../../img/Cards/3.jpg" alt="Une carte" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                                <img src="../../img/Cards/3.jpg" alt="Une carte" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            </div>
                        </div>
                        <div class="flexContainer flexColumn">
                            <div class="flex1"></div>
                            <img src="../../img/Cards/3.jpg" alt="Une carte" height="100" onclick="selectBoard(this)" ondblclick="getOverlay(this)">
                            <div class="flex1"></div>
                        </div>
                    </div>
                </div>

                <div class="flex1"></div>

                <div id="myBar" class="flexContainer flexRow">
                    <div class="card" style="background-image: url('../../img/Cards/3.jpg');" onclick="selectHand(this)" ondblclick="getOverlay(this)">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 0px;">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 62px;">

                        <div class="cardAction0 cardAction" style="visibility: hidden;">
                            <div>
                                <p>Vous pouvez retirer une légion d'un de ces emplacements en le sélectionnant:</p>
                                <img class="token" src="../../img/Token/TokenDoubleGlaive.jpg" alt="TokenDoubleGlaive" height="32" onclick="selectToken(this, 0, 0)">
                                <img class="token" src="../../img/Token/TokenDoubleGlaive.jpg" alt="TokenDoubleGlaive" height="32" onclick="selectToken(this, 1, 0)">

                                <button onclick="removeSelectedToken()">Retirer</button>

                                <br>
                                <br>
                            </div>
                            <div>
                                <p>Vous pouvez placer une légion sur cette carte :</p>
                                <button onclick="addBestToken(['Double glaive', 'Double glaive', 'Bouclier'], [1, 0, 1], 0)">Placer</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card" style="background-image: url('../../img/Cards/3.jpg');" onclick="selectHand(this)" ondblclick="getOverlay(this)">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 0px;">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 31px;">
                        <img src='../../img/Token/legion.png' alt="TokenLegion" class="legion" style="top: 62px;">

                        <div class="cardAction1 cardAction" style="visibility: hidden;">
                            <div>
                                <p>Vous pouvez retirer une légion d'un de ces emplacements en le sélectionnant:</p>
                                <img class="token" src="../../img/Token/TokenDoubleGlaive.jpg" alt="TokenDoubleGlaive" height="32" onclick="selectToken(this, 0, 1)">
                                <img class="token" src="../../img/Token/TokenDoubleGlaive.jpg" alt="TokenDoubleGlaive" height="32" onclick="selectToken(this, 1, 1)">
                                <button onclick="removeSelectedToken()">Retirer</button>
                                <br>
                                <br>
                            </div>
                            <div>
                                <p>Vous pouvez placer une légion sur cette carte :</p>
                                <button onclick="addBestToken(['Double glaive', 'Double glaive', 'Bouclier'], [1, 1, 1], 1)">Placer</button>
                            </div>
                        </div>
                    </div>

                    <img src="../../img/Cards/2.jpg" alt="Card2" height="200" onclick="selectHand(this)" ondblclick="getOverlay(this)">
                    <img src="../../img/Cards/2.jpg" alt="Card2" height="200" onclick="selectHand(this)" ondblclick="getOverlay(this)">
                    <img src="../../img/Cards/2.jpg" alt="Card2" height="200" onclick="selectHand(this)" ondblclick="getOverlay(this)">

                    <div class="flex1"></div>

                    <div class="flexContainer flexColumn">
                        <button>Captures</button>
                        <button>Récompenses</button>
                    </div>
                </div>

                <div id="buttons" class="flexContainer flexRow">
                    <div class="flex1"></div>
                    <button onclick="validate()">Valider</button>
                    <button onclick="resetSelected()">Annuler</button> <!-- onclick : devrait peut-être refresh la page -->
                    <div class="flex1"></div>
                </div>
            </div>

            <div class="flex1"></div>

            <div id="tokenInfo" class="flexContainer flexColumn">
                <img src="../../img/Token/TokenCount.jpg" alt="TokenHelp" width="150">
                <div class="flexContainer flexRow">
                    <p class="p">Jeton du tour : </p>
                    <img src="../../img/Token/TokenDoubleGlaive.jpg" alt="un jeton" height="55">
                </div>

                <div class="flex1"></div>

                <div class="action"></div>
            </div>
        </div>

        <!-- THERE WAS LINE 151 to 388 FROM AVE CESAR GAME TWIG -->

        <!-- SCRIPTS -->
        <script>
            function getOverlay(element) {
                document.querySelector(".overlay").classList.add("visible");
                //DONE in twig
            }

            function removeOverlay(element) {
                document.querySelector(".overlay").classList.remove("visible");
                //DONE in twig if there is smthing to do
            }

            function validate() {
                //DO VARIOUS THINGS
                //DONE in twig

                resetSelected();
            }

            function resetSelected() {
                var board = document.querySelectorAll(".selectedBoard");
                var hand = document.querySelectorAll(".selectedHand");

                board.forEach(function (element) {
                    element.classList.remove("selectedBoard");
                });
                hand.forEach(function (element) {
                    element.classList.remove("selectedHand");
                });
            }

            function selectHand(e) {
                resetSelected();
                var src = e;
                src.classList.add("selectedHand");
                
                if (document.querySelector(".action").hasChildNodes()) {
                    document.querySelector(".action").firstChild.style.visibility = "hidden";
                    document.querySelector("#myBar").querySelectorAll(".card")[document.querySelector(".action").childNodes[0].classList[0].replace("cardAction","")].appendChild(document.querySelector(".action").firstChild);
                }

                e.querySelector(".cardAction").style.visibility = "visible";
                document.querySelector(".action").appendChild(e.querySelector(".cardAction"));
            }

            var action = {};
            var selectedToken = {};
            var selectedCard = {};
            function selectToken(e, indToken, indCard) {
                document.querySelectorAll(".selectedToken").forEach( function (ee) {
                    ee.classList.remove("selectedToken");
                });

                e.classList.add("selectedToken");
                selectedToken.ind = indToken;
                //selectedToken.elem = e;
                selectedCard.ind = indCard;
            }

            function removeSelectedToken() {
                action.removeToken = {};
                action.removeToken.token = selectedToken;
                action.removeToken.card = selectedCard;

                //selectedToken.elem.style.visibility = "hidden";
                
                document.querySelectorAll(".cardAction").forEach( function (ee) {
                    ee.firstElementChild.innerHTML = "<p>Vous avez retiré une légion, vous ne pouvez plus en retirer davantage.</p>";
                });
            }

            function addBestToken(listToken, listControlled, indCard) {
                //DONE in twig fonction de prise du token le plus rare pour le joueur
                var actualToken = "Double glaive";
                //var powerList = {{ me.getPowers }};

                
                var indToken = null;
                
                listToken.forEach( function (e, i) {
                    if (actualToken == e) {
                        if (! listControlled[i]) {
                            indToken = i;
                        }
                    }
                });
                
                if (indToken != null) {
                    action.addToken = {};
                    action.addToken.card = {};
                    action.addToken.card.ind = indCard;
                    action.addToken.token = {};
                    action.addToken.token.ind = indToken;
                    
                    document.querySelectorAll(".cardAction").forEach( function (ee) {
                        ee.lastElementChild.innerHTML = "<p>Vous avez posé une légion, vous ne pouvez plus en poser davantage.</p>";
                    });
                } else {
                    alert("On ne peut capturer aucun token de cette carte");
                }
            }

            function selectBoard(e) {
                resetSelected();
                var src = e;
                src.classList.add("selectedBoard");
            }

            function resetSelectedPlayer() {
                var e = document.querySelectorAll(".selectedPlayer");

                e.forEach(function (element) {
                    element.classList.remove("selectedPlayer");
                });
            }
            
            function selectPlayer(e) {
                resetSelectedPlayer();
                e.classList.add("selectedPlayer");

                //DONE in twig
            }
        </script>

        <!-- TCHAT DIV + SCRIPT -->
        <div class="tchat">
            <div class="titleTchat">
                <img id="flecheTchat" src="{{ asset('bundles/agoragameavecesar/image/fleche_historique_bas.png') }}" alt="x">
                <i>Chat du lobby</i>
            </div>
            <div id="discussion"></div>
            <textarea id="UserMessage" placeholder="Entrez votre message ici"></textarea>
        </div>
        <button id="buttAcc" onclick="window.location.href = '{{ app.request.getSchemeAndHttpHost() }}'">Accueil</button>
        <script>//Script gérant le tchat
        document.getElementById('UserMessage').addEventListener('keypress', function (event) {
            var key = event.hasOwnProperty('which') ? event.which : event.keyCode;
            if (key === 13) { // 13 est la touche entrée
                var div = document.createElement("div");
                var message = document.getElementById('UserMessage').value;
                /*
                var clientInformation = {
                    gameId: {{ game.id }},
                    playerId: {{ player.id }},
                    action : {
                        type: "message",
                        username: playerUsername,
                        message: message
                        },
                    gameCode : "aug"
                };
                */
                div.textContent = "Moi : " + message;
                document.getElementById('UserMessage').value = "";
                div.className = "messageMy";
                document.getElementById("discussion").appendChild(div);
                conn.send(JSON.stringify(clientInformation));
            }
        });
        var flecheTchat = document.getElementById("flecheTchat");
        flecheTchat.addEventListener("click", tchatOnClick);
        </script>
    </body>
</html>
