{#
    This section displays the personal board of a player
    @param :
    @return : display the personal board
#}
<div id="reservedCards" class="border-solid border-black border-2 h-[30vw] w-full landscape:mt-7 mx-5 rounded-2xl
                                bg-gradient-to-b from-[#344864] to-[#AC9424ff]"
>
    {{ include('/Game/Splendor/PersonalBoard/reservedCards.html.twig') }}
</div>