{#
This section displays the warehouse of the main board, with available resources
@param : game
@return : display warehouse resources and difference points table
#}

<div class="w-3/5 h-full">
    {{ include('/Game/Glenmore/MainBoard/Warehouse/warehouseResources.html.twig') }}
</div>


<div class="w-2/5 h-full">
    {{ include('/Game/Glenmore/MainBoard/Warehouse/differencePointsTable.html.twig') }}
</div>