{% extends 'platform/admin/layout.html.twig' %}
{% block title %}
Bann {{ user.getUserName }}
{% endblock %}
{% block content %}
<header class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>

   <div class="relative isolate px-6 pt-14 lg:px-8">
      {% include 'platform/shared/flashMessage.html.twig' %}
      <div class="p-4 flex justify-center">
         <h1 class="text-3xl">Bannir {{ user.getUserName }}</h1>
      </div>
      <div class="space-y-12 2xl:mx-80 xl:mx-60">
         <form>
         <div class="mt-10">
            <div class="mt-8 max-w-lg">
               <label for="motif" class="block text-sm font-medium leading-6 text-gray-900">Motif : </label>
               <div class="relative mt-2 rounded-md shadow-sm">
                  <input type="text" name="motif" id="motif" class="block w-full rounded-md border-0 py-1.5 pl-7 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" placeholder="Raison du ban">
               </div>
            </div>

            <div class="mt-8 max-w-xs">
               <label for="time" class="block text-sm font-medium leading-6 text-gray-900">Durée :</label>
               <div class="relative mt-2 rounded-md shadow-sm">
                  <input type="number" name="time" id="time" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-28 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" placeholder="Durée du ban">
                  <div class="absolute inset-y-0 right-0 flex items-center">
                     <label for="timeUnit" class="sr-only">Unité de temps</label>
                     <select id="timeUnit" name="timeUnit" class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm">
                        <option>Jour(s)</option>
                        <option>Semaine(s)</option>
                        <option>Mois</option>
                        <option>Année(s)</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="mt-16 flex justify-end">
            <div class="space-x-4">
               <button type="button" onclick="window.history.back();" class="text-white bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Retour
               </button>
               <button type="submit" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Bannir
               </button>
            </div>
         </div>
         <div class="hidden">
         </div>
         </form>
      </div>
   </div>

   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
</header>
{% endblock %}