{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
    Dashboard Admin
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Accueil</h1>
        <h2>Je suis l'administrateur d'Agora !!! </h2>
        <h2>Les gars, travaillez s'il vous plait. Finalisez mes tâches :) </h2>
    </div>
{% endblock %}