._*
.DS_Store
.vscode
.idea
.git
.env.local
var
vendor
vendor/
package-lock.json
.phpunit.result.cache
###> symfony/webpack-encore-bundle ###
/public/build/
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor
###< symfony/asset-mapper ###
reports/