{#
This section displays the main board of the game
@param : rows -> A collection of the existing rows
@return : display a grid of the cards on the main board
#}
    <div class="p-2 bg-red-500 flow float-start w-full h-full overflow-hidden
                shadow-black shadow-[10px_10px_15px_-3px_rgba(0,0,0,0.1)] -z-1">
        <div class="flex flex-col h-full w-full ml-4">
            {% for row in rows.values %}
                <div class="h-1/4">
                {% for card in row.cards %}
                    <img class="h-full float float-left"
                         src="{{ asset('resourcesGames/6QP/cardsImages/' ~ card.value ~ ".png")}}"
                         alt="card">
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        {% set path = path('app_game_show', {'id': game.id}) ~ 'mainBoard' ~ player.id %}
        const eventSource = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSource.onmessage = event => {
            let mainBoard = document.getElementById('mainBoard');
            mainBoard.innerHTML = event.data;
        }
    </script>