{#
This section displays the main board of the game
@param : rows -> A collection of the existing rows
@return : display a grid of the cards on the main board
#}
{% block mainBoard %}
    <div class="bg-red-500 flow float-start w-[63.3%] h-3/4 overflow-hidden
                shadow-black shadow-[10px_10px_15px_-3px_rgba(0,0,0,0.1)] -z-1">
        <div class="grid grid-cols-5 grid-rows-4 h-full w-full m-2 ml-4">
            {% for row in rows.values %}
                {% for card in row.cards %}
                    <img class="h-full mr-6 float float-left"
                         src="{{ asset('resourcesGames/6QP/cardsImages/' ~ card ~ ".png")}}"
                         alt="card">
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script>
        const eventSource = new EventSource("{{ mercure(path('app_game_show',
            ['id' => game.id]) ~ 'chosenCards' )|escape('js') }}");
        eventSource.onmessage = event => {
            let mainBoard = document.getElementById('mainBoard');
            mainBoard.innerHTML = event.data;
        }
    </script>
{% endblock %}