{% block personalBoard %}
    <div class="grid grid-rows-2 grid-cols-5 w-full mx-2 mt-5
                landscape:md:flex landscape:md:mt-2 landscape:md-justify-center landscape:md:align-center
                lg:flex lg:mt-2 lg:justify-center lg:align-center">
        {% set gameId = game.id %}
        {% for card in playerCards %}
            <div class="hover:z-10 hover:overflow-visible hover:-translate-y-14 w-fit overflow-hidden">
                {% set cardNumber = card.value %}
                {% set selectCardRoute = "/game/" ~ gameId ~ "/sixqp/select/" ~ cardNumber %}
                <button type="button" {{ stimulus_action('sixqp', 'selectCard', 'click',
                    {url: path('app_game_sixqp_select', {idCard: card.id, idGame: game.id})}) }}>
                    <img class="z-0"
                         src="{{ asset('resourcesGames/6QP/cardsImages/' ~ card.value ~ ".png") }}"
                         alt="{{ cardNumber }}"
                    >
                </button>
            </div>
        {% endfor %}
    </div>
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'personalBoard' ~ player.id %}
        const eventSourcePersonalBoard = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourcePersonalBoard.onmessage = event => {
            let personalBoard = document.getElementById('personalBoard');
            personalBoard.innerHTML = event.data;
        }
    </script>
{% endblock %}