{#
This section displays the possibility of navigation for the spectator

@param :    game       -> the game that is displayed
		    player -> the Player entity of the selected user
		    playerCards   -> The cards of the current player

@return :   display the buttons for the spectator's navigation between the players' personal boards
#}

{% set actualId = game.playerSixQPs.indexOf(player) %}
{{ include('Game/Six_qp/Spectator/spectatorLeftButton.html.twig') }}
<div class="flex h-full w-full float-bottom-0">
    {{ include('/Game/Six_qp/personalBoard.html.twig') }}
</div>
{{ include('Game/Six_qp/Spectator/spectatorRightButton.html.twig') }}