{#
This section displays the possibility of navigation for the previous player in the list of the current game

@param :    game       -> the game that is displayed
		    player -> the Player entity of the selected user
		    playerCards   -> The cards of the current player

@return :   display the left oriented button for navigation for the spectator
#}

{% set previousId = (actualId - 1 + game.playerSixQPs.count) % game.playerSixQPs.count %}
<div class="flex h-full float-bottom-0 items-center justify-center">
    <button type="button" {{ stimulus_action('sixqp', 'getBoardToDisplay', 'click',
        {url: path('app_game_sixqp_spectator_board', {idGame: game.id, idPlayer: game.playerSixQPs.get(previousId).id})}) }}>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"></path>
            <path d="M15.293 7.293 10.586 12l4.707 4.707 1.414-1.414L13.414 12l3.293-3.293-1.414-1.414z"></path>
            <path d="m12.707 8.707-1.414-1.414L6.586 12l4.707 4.707 1.414-1.414L9.414 12l3.293-3.293z"></path>
        </svg>
    </button>
</div>