{#
	This section contain the element to animate a card reversal
	@param : none
	@return : the template of a element to animate a card reversal
#}

<div class="spl-card-container portrait:invisible landscape:invisible" id="flip_card">
	<div class="spl-card">
		<div class="spl-front"></div>
		<div class="spl-back"></div>
	</div>
</div>