<div id="notif_template"
     class="border rounded-xl shadow-lg bg-gray-800 border-gray-700 overflow-hidden"
     >
	<div class="flex">
		<div class="flex-grow">
			<div class="flex px-4 pt-4 ">
				<div class="svgContainer flex-shrink-0">
				</div>
				<div class="ms-3 place-self-center flex-grow">
					<p class="notifMessage portrait:text-xl landscape:text-base font-bold text-gray-400">

					</p>
				</div>

			</div>
			<p class="notifDescription portrait:text-lg landscape:text-sm text-gray-400 p-2">

			</p>
		</div>
		<div class="h-full flex-none place-self-center">
			<button type="button" class="button-notif mx-1.5 -my-1.5 rounded-lg focus:ring-2  p-1.5  items-center justify-center  text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700">
				<span class="sr-only">Close</span>
				<svg class="sm:size-5 lg:size-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="relative bottom-0 left-0 bg-gray-900  h-1 w-full rounded-full">
		<div class="loadingElement h-full rounded-full" style="width: 0"></div>
	</div>
</div>

<svg id="svg_validation" class="flex-shrink-0 portrait:size-8 landscape:size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16"
     height="16" fill="currentColor" viewBox="0 0 16 16">
	<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg>

<svg class="fill-yellow-600 portrait:size-10 landscape:size-6" id="svg_ringing" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	<path d="M15.137 3.945c-.644-.374-1.042-1.07-1.04-1.82v-.003c0-1.172-.939-2.122-2.097-2.122s-2.097.95-2.097 2.122v.003c.002.751-.396 1.446-1.04 1.82-4.668 2.712-1.986 11.715-6.863 13.306v1.749h20v-1.749c-4.877-1.591-2.195-10.594-6.863-13.306zm-3.137-2.945c.552 0 1 .449 1 1 0 .552-.448 1-1 1s-1-.448-1-1c0-.551.448-1 1-1zm3 20c0 1.598-1.392 3-2.971 3s-3.029-1.402-3.029-3h6zm5.015-12.521c-.246-1.504-.933-3.682-2.817-5.515l1.396-1.434c1.8 1.752 2.974 4.044 3.395 6.626l-1.974.323zm-18.015-.322c.421-2.583 1.595-4.874 3.395-6.627l1.396 1.434c-1.884 1.833-2.572 4.011-2.817 5.515l-1.974-.322z"/>
</svg>

<svg class="fill-white portrait:size-10 landscape:size-6" id="svg_info" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path d="M24 17.981h-13l-7 5.02v-5.02h-4v-16.981h24v16.981zm-2-14.981h-20v12.981h4v3.125l4.357-3.125h11.643v-12.981zm-9 6.001v5h-2v-5h2zm-1-1.5c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25z"/></svg>

<svg class="fill-red-600 portrait:size-10 landscape:size-6" id="svg_alert" width="24" height="24"  clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.095 19.886 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367zm1.935-.384h15.939l-7.97-14.219zm7.972-6.497c-.414 0-.75.336-.75.75v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5c0-.414-.336-.75-.75-.75zm-.002-3c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z" fill-rule="nonzero"/></svg>

<div class="spl-card-container" id="flip_card">
	<div class="spl-card">
		<div class="spl-front"></div>
		<div class="spl-back"></div>
	</div>
</div>