{#
    Display the menu presenting the resource to throw and 2 buttons to confirm or cancel the action
    param :
#}

<div id="throwResourceActions"
     class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex z-50 text-white items-center justify-center">


    <div class="relative bg-green-950 p-5 w-1/2 h-1/2 rounded-lg flex flex-col">
        <p class="text-center text-2xl font-bold">
            Voulez-vous jeter cette ressource de votre entrepôt ?
            <br>Cette action est irreversible
        </p>
        <div class="size-full flex flex-row flex justify-center">
            <img class="max-h-[3/4]"
             src="{{ asset('resourcesGames/Myrmes/resources/' ~
                 'dirt' ~ '.svg') }}"
             alt="dirt">
            <p class="flex items-center text3-4">x 1</p>
        </div>
        <button id="confirm"
                class="absolute rounded-lg bg-[#8F901F] py-2 px-3 m-1 text-2xl left-0 bottom-0 items-center"
                {{ stimulus_action('myrmes','throwResourceFromWarehouse','click',
                    {url: path('app_game_myrmes_throw_resource_warehouse',
                        {gameId: game.id, playerResourceId: selectedPlayerResource.id})})
                }}
        >
            Confirmer
        </button>
        <button id="return_board" onclick="closeThrowResourceActions()"
                class="absolute rounded-lg bg-[#8F901F] py-2 px-3 m-1 text-2xl right-0 bottom-0 items-center"
        >
            <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                 alt="return on board"
                 class="h-8 max-h-full">
        </button>
    </div>
</div>