td.red {
	background-color: red;
}

td.yellow {
	background-color: yellow;
}

td.checking_summit {
	background-color: blue;
}

td.checking_connection {
	background-color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    box-sizing: border-box
}
table > tbody {
	text-align:center;
}

table> thead {
	text-align: center;
}

table td {
	height: 50px;
	width: 50px;
}

th > button {
    display: block;
    width: 100%;
}
