{% extends 'platform/base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="m-16">
		<div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
			<img src="https://images.unsplash.com/photo-1597764894768-df73d7fde605?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
				 class="absolute inset-0 -z-10 h-full w-full object-cover">
			<div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
			<div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
			<h3 class=" text-lg font-semibold leading-6 text-white">
				Nouvelle Table - GameName
			</h3>
			<p class="text-sm leading-6 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<form>
			<div class="mt-10 grid grid-cols-2 gap-5">
				<div>
					<label for="playerNb" class="block font-medium leading-6 text-gray-900">Nombre de joueur</label>
					<select id="playerNb" name="playerNb" class="mt-2 w-1/6 shadow appearance-none border rounded text-gray-900 leading-tight focus:outline-none focus:shadow-outline">
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>. . .</option>
					</select>
				</div>

					<div>
						<label for="reserved" class="block font-medium leading-6 text-gray-900">Nombre de place réservé</label>
						<p class="text-gray-600 text-sm">Un lien sera généré à la création de la table</p>
						<select id="reserved" name="reserved"
								class="mt-2 w-1/6 shadow appearance-none border rounded text-gray-900 leading-tight focus:outline-none focus:shadow-outline">
							<option>Aucune</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>. . .</option>
						</select>
					</div>

				<div class="mt-2 flex items-center">
					<div class="leading-6">
						<label for="candidates" class="font-medium text-gray-900">définir le temps de jeu ?</label>
						<p class="text-sm text-gray-600">Permet de définir le temps de jeu maximum avant l'expulsion d'un joueur.</p>
					</div>
					<input id="candidates" name="candidates" type="checkbox" class="mt-2 mx-5 rounded border-gray-300 text-primary focus:ring-primary">
				</div>

				<div>
					<label for="inactivity" class="block font-medium leading-6 text-gray-900">Temps d'inactivité</label>
					<div class="mt-2 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-500 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary sm:max-w-xs">
						<input type="number" name="inactivity" id="inactivity"
							   class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 focus:ring-0" value="0" min="0">
						<div class="inset-y-0 right-0 flex items-center">
							<select name="inactivityUnit" class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-600 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm">
								<option>Heure</option>
								<option>Jour</option>
								<option>Semaine</option>
								<option>Mois</option>
							</select>
						</div>
					</div>
				</div>

				<button type="submit" class="mx-auto bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
					Creer une table
				</button>

				</div>
		</form>
	</div>
{% endblock %}
