{% extends 'base.html.twig' %}

{% block title %} Publications {% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mes notifications</h1>
    <br>
</div>
    <hr>
    <div id="notification-frame">
        {% for notification in notifications %}
            <div class="notification">
                <p>{{ notification.content }}</p>
                <p> -- Date: {{ notification.createdAt|date('Y-m-d H:i:s') }}</p>
            </div>
        {% endfor %}
    </div>

    <script>
        const userId = "{{ app.user.id }}";
        const eventSource1 = new EventSource("{{ mercure('agora/notifications/' ~ app.user.id)|escape('js') }}");
        eventSource1.onmessage = event => {
            const data = JSON.parse(event.data);
            updateNotificationFrame(data);
        }
        function updateNotificationFrame(data) {
            const notificationDiv = document.createElement('div');
            notificationDiv.classList.add('notification');
            notificationDiv.innerHTML = `
        <p>${data.content}</p>
        <p> -- Date: ${new Date(data.date).toISOString()}</p>
    `;
            // document.getElementById('notification-frame').appendChild(notificationDiv);
            const notificationFrame = document.getElementById('notification-frame');
            notificationFrame.insertBefore(notificationDiv, notificationFrame.firstChild);
        }
    </script>
{% endblock %}
