{#
    This section displays the main board that every player and spectator can see
    @param :
    @return :
#}
<div id="tokens" class="px-10 flex float-top-0 w-full h-1/5 bg-orange-400">
    {{ include('Game/Splendor/MainBoard/drawTokensPile.html.twig') }}
</div>
<div id="developmentCards" class="flow flex flex-row float-start w-[75%] h-5/6 bg-yellow-600">
    {{ include('Game/Splendor/MainBoard/developmentCardsBoard.html.twig') }}
</div>
<div id="nobleTiles" class="flex float-left w-[25%] h-5/6 bg-blue-600">
    {{ include('Game/Splendor/MainBoard/nobleTilesDisplay.html.twig') }}
</div>