{#
    This section displays the noble tiles that can be won by players
    @param : array<NobleTileSPL> card, float calcul
    @return : display the noble tiles grid, depending on the number of players
#}

{# Loading of tailwind values for hovering #}
<div hidden="hidden" class="hover:scale-[1.6] hover:scale-[1.7] hover:scale-[1.8] hover:scale-[1.9] hover:scale-[2]">
</div>

{# Display noble tiles #}
    <div class="h-full w-full grid grid-rows-{{ nobleTiles|length}} place-items-center p-2">
        {% for card in nobleTiles %}
            <div class="flex items-center justify-center h-full p-2 w-full">
                {% set calcul = 1.5 + (nobleTiles|length)/10 %}
                <img id="noble_{{ card.id }}" class="hover:scale-[{{ calcul }}] transition ease-in-out delay-100
                            items-center justify-center rounded-lg shadow-black shadow-lg max-h-full
                            {% if isSpectator %}transform hover:-translate-y-20{% endif %}"
                     src="{{ asset('resourcesGames/Splendor/Images/NobleTiles/' ~ card.id ~ '.png') }}"
                     alt="nobleTile">
            </div>
        {% endfor %}
    </div>