{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <div class="login-help">
		<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
	</div>
{% endblock fos_user_content %}
