{#
This section displays the storage of the player
@param :
@return :
#}
<p class="relative pt-[1vw] w-fit {% if isPreview %}text_mini {% else %} text2-4 {% endif %}">Entrepôt</p>
<div class="items-center overflow-y-auto h-full" id="warehouse">
    <div class="grid grid-cols-2 grid-rows-3 w-fit gap-[0.3vw]" id="warehouseCases">
        {#warehouse's cases#}
        {% set count = 0 %}
        {% for resourcePlayer in player.personalBoardMYR.playerResourceMYRs %}
            {% if resourcePlayer.quantity >= 1 %}
                {% for i in 1..resourcePlayer.quantity %}
                    {% set count = count + 1 %}
                    <{% if not isPreview and actualSeason == WINTER_SEASON_NAME %}button{% else %}div{% endif%}
                            type="button"
                             class="relative
                                {% if isPreview %}
                                    w-[1vw] h-[1vw]
                                {% else %}
                                    w-[3vw] h-[3vw]
                                {% endif %}
                                {% if (player.personalBoard.anthillLevel < 2 and count <= 4 )
                                    or (player.personalBoard.anthillLevel >= 2 and count <= 6 )%}
                                    bg-[#ffffff99]
                                {% else %}
                                    bg-[#00000099]
                                {% endif %}"
                            {{ stimulus_action('myrmes','throwResourceFromWarehouse','click') }}
                    >
                        <img class="size-full"
                             src="{{ asset('resourcesGames/Myrmes/resources/' ~
                                 resourcePlayer.resource.description ~ '.svg') }}"
                             alt="{{resourcePlayer.resource.description}}">
                    </{% if not isPreview and actualSeason == WINTER_SEASON_NAME %}button{% else %}div{% endif %}>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if count < 6 %}
            {% for i in count+1..6 %}
                <div
                        type="button"
                        class="relative
                                        {% if isPreview %}
                                            w-[1vw] h-[1vw]
                                        {% else %}
                                            w-[3vw] h-[3vw]
                                        {% endif %}
                                        {% if i < 5 %} bg-[#ffffff99]
                                        {% else %} bg-[#00000099]
                                        {% endif %}"
                >
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>