{#
This section displays the birthing rooms where the player can place nurses to create larvas, workers and/or warriors
@param :
@return :
#}

{# Definition of variables #}
{% set birthTrackSize = '' %}
{% set placeButtonSize = '' %}
{% if isPreview %}
    {% set birthTrackSize = 'w-[60%]'%}
    {% set placeButtonSize = 'w-[40%]' %}
{% else %}
    {% set birthTrackSize = 'w-[80%]' %}
    {% set placeButtonSize = 'w-[50%]' %}
{% endif %}

<div class="w-full inlineFlexCol {% if isPreview %}gap-[0.3vw]{% else %}gap-[1vw]{% endif %}" id="birth_track">
    <div class="inlineFlex gap-5">
        <p class="{% if isPreview %}text_mini {% else %} text1-3 {% endif %}">Pistes de naissances</p>
    </div>
    <div class="inline-flex items-start w-full align-center justify-evenly">
        {#larvae birth track#}
        {{ include('Game/Myrmes/PersonalBoard/BirthTracks/displayLarvaeBirthTrack.html.twig') }}
        {#soldiers birth track#}
        {{ include('Game/Myrmes/PersonalBoard/BirthTracks/displaySoldiersBirthTrack.html.twig') }}
        {#workers birth track#}
        {{ include('Game/Myrmes/PersonalBoard/BirthTracks/displayWorkersBirthTrack.html.twig') }}
    </div>
</div>