{#
This section displays the workshop on the personal board to access at the workshop phase
@param :
@return :
#}
<div class="inlineFlexCol items-center {{ gapSize }}" id="workshop">
    <p class="relative w-fit mb-px {% if isPreview %}text_mini {% else %} text2-4 {% endif %}">Atelier</p>
    {#workshop icon#}
    <{% if not isPreview and playerPhase == PHASE_BIRTH %}button{% else %}div{% endif %} type="button"
          {% if playerPhase == PHASE_BIRTH %}
            {{ stimulus_action('myrmes','placeNurseOnLarvaeTrack','click',
                {url: path('app_game_myrmes_place_nurse',
                    {gameId: game.id, position: WORKSHOP_AREA})
                })
            }}
          {% endif %}
    >
        <img class="{% if isPreview %}w-[3vw]{% else %}w-full{% endif %}" id="workshopIcon"
             src="{{ asset('resourcesGames/Myrmes/personalBoard/workshop.svg') }}"
             alt="workshop icon"/>
    </{% if not isPreview and playerPhase == PHASE_BIRTH%}button{% else %}div{% endif %}>
</div>