{#
this section is made to declares tailwind values in twig to be used in personalBoard.html.twig
#}
<div hidden class="bg-[#ffffff99] w-15 h-15
    -translate-y-[40%] -translate-y-[125%] -translate-y-[208%]
    -translate-y-[15%] -translate-y-[30%] -translate-y-[45%]"></div>