{#
This section displays the player resources like whisky, leaders, total number of primary resources, property cards
@param : player
@return :
#}
{% set propertyCards = player.personalBoard.playerCardGLM %}
<div id="propertyCardsDisplay"
     class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex z-50 text-white items-center justify-center">
    <div class="bg-slate-900 p-5 rounded-lg flex flex-col justify-center items-center">
        <h2 class="justify-center">Cartes de propriété</h2>

        <div class="grid grid-rows-3 grid-cols-5">
            {% for propertyCard in propertyCards %}
                <img src="{{ propertyCard.card.id }}" alt="{{ propertyCard.card.name }}" />
            {% endfor %}
        </div>
        <button id="return_board" onclick="closePropertyCardsDisplayWindow()"
                class="rounded-lg bg-blue-800 py-2 px-3 m-1 portrait:text-2xl items-center"
        >
            <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                 alt="return on board"
                 class="h-6 max-h-full">
        </button>
    </div>

</div>