{#
This section displays the player's disposition of tiles
@param :
@return :
#}

<div class="h-full w-full">
    <h2 class="font-bold border-double border-2 w-fit">Tuiles personnelles</h2>
    <div class="gap-1 grid grid-rows-{{ personalBoardTiles|length + 2 }} grid-cols-{{ personalBoardTiles|first|length + 2 }}">
        {% for i in 0..personalBoardTiles|first|length + 1  %}
            <span class="w-full h-full bg-blue-500"></span>
        {% endfor %}
        {% for row in personalBoardTiles %}
            <span class="w-full h-full bg-yellow-500"></span>
            {% for tile in row %}
                {% if tile == null %}
                    <span class="w-full h-full bg-gray-500"></span>
                {% else %}
                    <div class="flex justify-center items-center h-full w-full">
                        <img
                                class="aspect-auto max-h-full"
                                src="{{ asset('resourcesGames/Glenmore/tiles/' ~ tile.tile.id ~ '.svg')
                                }}"
                                alt="{{ tile.id }}"
                        />
                    </div>
                {% endif %}
            {% endfor %}
            <span class="w-full h-full bg-yellow-500"></span>
        {% endfor %}
        {% for i in 0..personalBoardTiles|first|length + 1  %}
            <span class="w-full h-full bg-blue-500"></span>
        {% endfor %}
    </div>
</div>
