{#
This section displays the personal board of a player
@param :
@return :
#}

<div class="bg-yellow-600 flex justify-center w-full h-full">
    <div id="tileBoard" class="overflow-y-scroll overflow-x-scroll w-auto h-auto p-1">
        {{ include('Game/Glenmore/PersonalBoard/displayPersonalTiles.html.twig') }}
    </div>
</div>