{#
This section displays the personal board of a player
@param :
@return :
#}
<h2 class="text-white font-bold w-fit ml-10">Tuiles personnelles</h2>
<div class="bg-gradient-to-b from-[#14532d] to-[#09090b] flex justify-center w-full h-full">
    <div id="tileBoard" class="overflow-y-auto flex justify-center overflow-x-auto w-auto h-auto">
        {{ include('Game/Glenmore/PersonalBoard/displayPersonalTiles.html.twig') }}
    </div>
</div>