{# src/OC/UserBundle/Resources/views/layout.html.twig #}

{# On étend notre layout #}
{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/register.css') }}" type="text/css" />
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block content %}

    <div id="login">

        <img class="mb-4" src="{{ asset('bundles/agoraplatform/image/LogoAgora.png') }}" alt="logo Agora" width="72" height="72">

        {# On affiche les messages flash que définissent les contrôleurs du bundle #}
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}

    </div>

{% endblock %}
