{#
    Represents an hexagon for a board box in Myrmes
    param : color (inherit from parent)
    return : display an hexagon from the color of the tile type
#}

<div class="hex invisible bg-{{ color }} border-b-{{ color }} border-t-{{ color }}
    {% if isShifted %}
        ml-[2.2vw]
    {% endif %}
">
    <div class="visible top">
    </div>
    <div class="visible middle">
    </div>
    <div class="visible bottom">
    </div>
</div>