{#
    Display the board box data and possible actions
    param : selectedBox, game
    return : display possible action if it's turn of player
#}

{# Player phases #}

{% set PHASE_EVENT = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_EVENT') %}
{% set PHASE_BIRTH = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_BIRTH') %}
{% set PHASE_WORKER = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WORKER') %}
{% set PHASE_HARVEST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_HARVEST') %}
{% set PHASE_WORKSHOP = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WORKSHOP') %}

{# Tile types #}
{% set WATER_TILE_TYPE = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::WATER_TILE_TYPE') %}
{% set DIRT_TILE_TYPE = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRT_TILE_TYPE') %}
{% set MUSHROOM_TILE_TYPE = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::MUSHROOM_TILE_TYPE') %}
{% set STONE_TILE_TYPE = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::STONE_TILE_TYPE') %}
{% set GRASS_TILE_TYPE = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GRASS_TILE_TYPE') %}

<div id="selectedBoxActions"
     class="absolute top-0 right-0 w-[28%] h-full flex z-50 bg-black bg-opacity-75 items-center justify-center text-white">


    <div class="absolute bg-orange-500 p-5 w-full h-[50%] rounded-lg flex items-center justify-center flex-col">

        {% if selectedBox.tile != null %}
            {% set color = "" %}
            {% if selectedBox.tile.type == WATER_TILE_TYPE %}
                {% set color = "blue-600" %}
            {% elseif selectedBox.tile.type == DIRT_TILE_TYPE %}
                {% set color = "orange-950" %}
            {% elseif selectedBox.tile.type == MUSHROOM_TILE_TYPE %}
                {% set color = "red-700" %}
            {% elseif selectedBox.tile.type == STONE_TILE_TYPE %}
                {% set color = "stone-700" %}
            {% else %}
                {% set color = "green-600" %}
            {% endif %}
            {% set boardBox = selectedBox %}
            {% set isShifted = false %}
            <div class="flex flex-row items-center justify-center rounded-xl bg-black bg-opacity-25 p-5">
                {% set isActionable = true %}
                {{ include('Game/Myrmes/MainBoard/boardBox.html.twig') }}
            </div>

            {% if playerPhase == PHASE_WORKER %}
                <button id="pheromone_placement"
                        class="rounded-lg bg-green-900 py-2 px-3 m-5 text-2xl items-center"
                >
                    Placer une phéromone
                </button>

                <button id="clean_phermone"
                        class="rounded-lg bg-green-900 py-2 px-3 m-5 text-2xl items-center"
                >
                    Nettoyer la phéromone adverse
                </button>
            {% endif %}
            {% if playerPhase == PHASE_WORKSHOP %}
                <button id="anthill_hole_placement"
                        class="rounded-lg bg-green-900 py-2 px-3 m-5 text-2xl items-center"
                >
                    Placer un trou de fourmis
                </button>
            {% endif %}
            {% if selectedBox.anthillHole != null and isSelectingAnthillHoleToSendWorker %}
                <button type="button">
                    {{ stimulus_action('myrmes', 'placeWorkerOnAntHillHole', 'click',
                        {url: path('app_game_myrmes_place_worker_anthillhole',
                            {
                                gameId: game.id,
                                tileX: selectedBox.tile.coord_X,
                                tileY: selectBox.tile.coord_Y
                            })})
                    }}
                    <img src="{{ asset('resourcesGames/Myrmes/personalBoard/sendWorkerToGardenButton.svg') }}"
                         alt="place worker on this anthill hole">
                </button>
            {% endif %}

        {% endif %}
        <button id="return_board" onclick="closeSelectedBoxWindow()"
                class="absolute rounded-lg bg-green-900 py-2 px-3 m-1 text-2xl right-0 bottom-0 items-center"
        >
            <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                 alt="return on board"
                 class="h-8 max-h-full">
        </button>
    </div>
</div>