{#
This section displays the main board that every player and spectator can see
@param : boardBoxes, game
@return :
#}

{% set isPreview = false %}
<div class="w-full h-full flex items-center justify-center">
    {{ include('Game/Myrmes/MainBoard/displayBoardBoxes.html.twig') }}
</div>