{#
This section displays main board preview
@param :
@return :
#}

{% set isPreview = true %}
<button class="w-auto h-auto flex items-center justify-center"
        {{ stimulus_action('myrmes','showMainBoard','click',
            {url:path('app_game_myrmes_show_personal_board',
                {id: game.id})})
        }}
>
</button>