{#
This section displays main board preview
@param :
@return :
#}

<a class="w-full h-full flex items-center justify-center cursor-pointer"
        {{ stimulus_action('myrmes','showPersonalBoard','click',
            {url:path('app_game_myrmes_show_personal_board',
                {id: game.id})})
        }}
>
    {{ include('Game/Myrmes/PersonalBoard/personalBoard.html.twig') }}
</a>