{#
This section displays seasons dices.
@param :
@return :
#}

<div class="inlineFlexCol gap-2.5 h-fit">
    {#spring dice#}
    <img class="h-[10rem]" src="{{ asset('resourcesGames/Myrmes/seasonsDices/spring/springDice2.svg') }}" alt="spring dice 2">
    {#summer dice#}
    <img class="h-[10rem]" src="{{ asset('resourcesGames/Myrmes/seasonsDices/summer/summerDice4.svg') }}" alt="spring dice 6">
    {#fall dice#}
    <img class="h-[10rem]" src="{{ asset('resourcesGames/Myrmes/seasonsDices/fall/fallDice6.svg') }}" alt="fall dice 6">
    {#winter dice#}
    <img class="h-[10rem]" src="{{ asset('resourcesGames/Myrmes/seasonsDices/winter/winterDice.svg') }}" alt="winter information">
</div>