{#
This section displays workshop menu.
@param :
@return :
#}

<div id="closedWorkshopMenu" class="bg-[#fb8500] h-[1.5vw] w-1/2 absolute top-0 right-0 rounded-bl-2xl">
    <div class="inlineFlex w-full h-full gap-2 items-center cursor-pointer"
        {{ stimulus_action('myrmes', 'toggleWorkshopMenu', 'click',
            {open: true}) }}>
        <img class="h-[1.1vw] rotate-180"
             src="{{ asset('resourcesGames/utils/arrow_up.svg') }}"
             alt="arrow opening workshop">
        <p class="text-2xl text-black">Ouvrir l'atelier</p>
    </div>
</div>

<div id="openedWorkshopMenu" class="bg-[#fb8500] h-[26vw] w-1/2 absolute top-0 right-0 rounded-bl-2xl" hidden>
    <div class="h-full w-full inline-flex flex-col">
        <div class="inlineFlexCol">
            <svg id="anthill level" viewBox="0 0 300 250" class="h-[7vw] translate-y-[3.2vw]">
                <polygon class="cursor-pointer" points="90,0 210,0 300,125 210,250 90,250 0,125" fill="black"/>
            </svg>
            <div class="inlineFlex gap-[4vw]">
                <svg id="anthill hole" viewBox="0 0 300 250" class="h-[7vw]">
                    <polygon class="cursor-pointer" points="90,0 210,0 300,125 210,250 90,250 0,125" fill="black"/>
                </svg>
                <svg id="objective" viewBox="0 0 300 250" class="h-[7vw]">
                    <polygon class="cursor-pointer" points="90,0 210,0 300,125 210,250 90,250 0,125" fill="black"/>
                </svg>
            </div>
            <svg id="nurse" viewBox="0 0 300 250" class="h-[7vw] -translate-y-[3.2vw]">
                <polygon class="cursor-pointer" points="90,0 210,0 300,125 210,250 90,250 0,125" fill="black"/>
            </svg>
            <p class="ml-[2vw] bg-[#8f901f] w-fit p-[0.5vw] text2-4 rounded-xl cursor-pointer">Confirmer</p>
        </div>
        <div class="inlineFlex w-full h-full gap-2 items-center cursor-pointer"
                {{ stimulus_action('myrmes', 'toggleWorkshopMenu', 'click',
                    {open: false}) }}>
            <img class="h-[1.1vw]"
                 src="{{ asset('resourcesGames/utils/arrow_up.svg') }}"
                 alt="arrow opening workshop">
            <p class="text-2xl text-black">Fermer l'atelier</p>
        </div>
    </div>
</div>
