{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block title %}
    AGORA - Profil de {{ user.username }}
{% endblock %}

{% block header %}
    <h1>Profil de {{ user.username }}</h1>
{% endblock %}

{% block content %}
{% include '@FOSUser/Profile/show_content.html.twig' %}

<script>
    function accessModify() {
        window.location.assign("edit")
    }

    function accessChangePassword() {
        window.location.assign("change-password")
    }
</script>

<button onclick="accessModify()">modifier le profil</button>
<button onclick="accessChangePassword()">modifier le mot de passe</button>

{% endblock %}
