{#
    this section is made to declares tailwind values in twig to be used in ranking.html.twig
#}

{# Loading of the datas that Tailwind must display, necessary because Tailwind doesn't interprete directly
Twig variables
#}
<div class="bg-[#009b77] bg-[#ffffff] bg-[#0f52ba] bg-[#0f0f0f] bg-[#e0115f]"></div>
<div class="-rotate-0 -rotate-45 -rotate-90"></div>
<div class="-translate-y-[6.5rem] -translate-y-[13rem] translate-x-[1rem] translate-x-[1.5rem]
            landscape:translate-y-[1rem] landscape:-translate-y-[1.7rem] landscape:-translate-y-[4.4rem]
            landscape:translate-x-[0.3rem] landscape:translate-x-[0.5rem]
            landscape:lg:translate-y-[1rem] landscape:lg:-translate-y-[2.8rem] landscape:lg:-translate-y-[6.5rem]
            landscape:lg:translate-x-[0.4rem]
            landscape:2xl:translate-y-[0rem] landscape:2xl:-translate-y-[5.5rem] landscape:2xl:-translate-y-[11rem]
            landscape:2xl:translate-x-[0rem] landscape:2xl:translate-x-[0.6rem] landscape:2xl:translate-x-[0.8rem]"></div>
