<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="../tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
            <file>../src/Service/Game/SixQP/SixQPGameManagerService.php</file>
            <file>../src/Service/Game/Splendor/SPLGameManagerService.php</file>
            <file>../src/Service/Game/Glenmore/GLMGameManagerService.php</file>
            <file>../src/Service/Game/Myrmes/MYRGameManagerService.php</file>
        </include>
        <exclude>
            <directory suffix=".php">../src/Service/Game/SixQP</directory>
            <directory suffix=".php">../src/Service/Game/Splendor</directory>
            <directory suffix=".php">../src/Service/Game/Glenmore</directory>
            <directory suffix=".php">../src/Service/Game/Myrmes</directory>
            <directory suffix=".php">../src/Service/Platform</directory>

            <directory suffix=".php">../src/Repository/Game/SixQP</directory>
            <directory suffix=".php">../src/Repository/Game/Splendor</directory>
            <directory suffix=".php">../src/Repository/Game/Glenmore</directory>
            <directory suffix=".php">../src/Repository/Game/Myrmes</directory>
            <directory suffix=".php">../src/Repository/Platform</directory>

            <directory suffix=".php">../src/Entity/Game/SixQP</directory>
            <directory suffix=".php">../src/Entity/Game/Splendor</directory>
            <directory suffix=".php">../src/Entity/Game/Glenmore</directory>
            <directory suffix=".php">../src/Entity/Game/Myrmes</directory>
            <directory suffix=".php">../src/Entity/Platform</directory>

            <file>../src/Controller/Game/SixQPController.php</file>
            <file>../src/Controller/Game/SplendorController.php</file>
            <file>../src/Controller/Game/GlenmoreController.php</file>
            <file>../src/Controller/Game/MyrmesController.php</file>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
</phpunit>
