html {
    height: 100%;
    width: 100%;
    /*background-image: url('../img/wall.jpg');*/
    background-color: #ffcc99;
}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 500;

    text-shadow: 0px 0px 1px white;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#gameContent {
    margin: 8px;
}

/* FLEXBOX */
.flexContainer {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}
.space {
    min-height: 15px;
    min-width: 15px;
}

/* Overlay */
.overlay {
    z-index: 3;
    position: fixed; /* Sit on top of the page content */
    visibility: hidden;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay img {
    size: 225px;
}

.overlayCaptured {
    margin: 5px;
    cursor: default;
    height: 70%;
    width: 55%;
    top: 10%;
    left: 35%;
    position: absolute;
    padding: 6px;
    background-color: #473229; /*brown*/
    color: #bfaaa0;
    font-size: 150%;
    text-align: center;
    border-radius: 20px;
    visibility: hidden;
}

.overlayContent {
    margin: 5px;
    cursor: default;
    height: 70%;
    width: 20%;
    top: 10%;
    left: 10%;
    position: absolute;

    padding: 6px;
    background-color: #473229; /*brown*/

    color: #bfaaa0;
    font-size: 150%;
    text-align: center;
    border-radius: 20px;

    visibility: hidden;
}

.action {
    background-color: #abadb2;  /*grey*/
    color: #0e110f;

    height: 50%;
    width: 15em;    
}

.marble {
    box-shadow: inset -2px -2px 15px 3px rgba(0, 0, 0, 0.7);
    background-image: url('../img/marble.jpg');

    border-radius: 7px;
    padding: 4px 15px 14px 14px;
    background-size: 600px 400px;

    color: black !important;
}

.visible {
    visibility: visible;
}


#objLine {
    background-color: #29537a;
    background-image: linear-gradient(
      rgba(41, 83, 122, 0.5), 
      rgba(41, 83, 122, 0.5)
    ), url('../img/marble.jpg');
}

#instructions p {
    text-align: center;
}
#instructions {
    background-size: 1000px 666px !important;
}

#allPlayersInfo, #playerBar, #objLine, #myBar, #myInfo, #instructions, .action {

    background-color: #7e9ebc;  /*blue'*/
    color: #0e110f;

    margin: 5px;
}

#playerBar, #myBar {
    height: 220px;
    background-size: 1000px 666px !important;

    padding: 14px 25px 24px 24px;
}
#myBar {
    background-color: #bcbb7e;
    background-image: linear-gradient(
      rgba(36, 147, 26, 0.5), 
      rgba(36, 147, 26, 0.5)
    ), url('../img/marble.jpg');
}
#playerBar {
    background-color: #bc7e7f;
    background-image: linear-gradient(
      rgba(147, 26, 36, 0.5), 
      rgba(147, 26, 36, 0.5)
    ), url('../img/marble.jpg');
}

#allPlayersInfo {
    border: none;
    background-color: rgba(1, 1, 1, 0);
}

.selectedHand, .selectedBoard, .selectedToken {
    border: 2px red solid;
}

.chosenLoot {
	border: 4px green solid;
}

.playerInfo {
    cursor: pointer;
    margin: 5px;

    background-image: linear-gradient(
      rgba(142, 66, 15, 0.5), 
      rgba(142, 66, 15, 0.5)
    ), url('../img/marble.jpg');

    color: black;
}
.selectedPlayer {
    background-color: #e29e0b; /* gold */
    background-image: linear-gradient(
      rgba(183, 133, 16, 0.6),
      rgba(183, 133, 16, 0.6)
    ), url('../img/marble.jpg');
}

.p {
    margin: 0;
}

.taken {
    opacity: 0.5;
}

.card {
    position: relative;
    height: 200px;
    width: 200px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.legion {
    position: absolute;
    left: 15px;

    height: 24px;
    width: 24px;
}

img, .card {
    border-radius: 12px;
}

/* endBody CSS */

.scoreTitle {
    width: 25%;
    margin: auto;
}

#scoreBoard {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/marble.jpg);
}

.playerScoreBar{
    margin: 15px 0;
    color: gold;
}
