/* Css tchat*/
.tchat {
    border-radius: 10px;
    opacity: 0.4;
    height: 1em;
    width: 7cm;
    background-color: #cc9347;
    position: fixed;
    right: 3px;
    bottom: 0px;
}

.tchat:hover {
    opacity: 1;
}

.titleTchat {
    font-size: 0.9em;
    text-align: center;
}

#discussion {
    font-size: 0.8em;
    overflow-y: auto;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
    word-wrap: break-word;
    height: 24.2em;
}

#UserMessage {
    width: 7cm;
    height: 3em;
    resize: none;
    overflow: auto;
}

.messageMy {
    background-color: #f0e666;
}

.messageOther {
    background-color: #f0b659;
}

#flecheTchat {
    height: 1em;
    width: 1em;
    position: relative;
    left:-3em;
}